@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .header_h {
        height: 1362px;
    }

    .Header1 {
        font-family: BebasNeueRegular;
        font-size: 55px;
        color: #fff;
    }

    .Header3 {
        font-family: OpenSansBold;
        font-size: 15px;
        color: #ff5e14;
    }

    .NameUsugi:hover {
        box-shadow: inset 8px 8px 20px -10px #ff5e14;
    }
    media (min-width: 400px) {.header_h {height: 1362px;}}
    media (min-width: 1024px) {.header_h {height: 1362px;}}
</style>
<div class="bg-no-repeat bg-center header_h mt-0 lg:mt-0" style="background-image: url('/image/Page/Advantage.webp');">
    <div id="header2" class="container mx-auto px-5 lg:px-0">
        <div class="text-center pt-24 lg:pt-52">
            <h3 class="Header3 mb-4">Преимущества компании</h3>
            <h1 class="Header1 leading-tight">Почему клиенты <br> выбирают нас</h1>

            <div class="grid gap-1 grid-cols-2 md:grid-cols-3  w-full  mt-32">
                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(76, 78, 106, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">01</div>
                    <div class="mx-auto w-20 mt-16"><img src="/image/Page/Auto_Advantage.png" alt="Собственный автопарк"></div>
                    <div class="text-center mt-5 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Собственный <br> автопарк</div>
                </div>
                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(66, 69, 100, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">02</div>
                    <div class="mx-auto w-16 mt-16"><img src="/image/Page/Employee.png" alt="Квалифицированные специалисты"></div>
                    <div class="text-center mt-5 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Квалифицированные <br> специалисты</div>
                </div>
                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(76, 78, 106, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">03</div>
                    <div class="mx-auto w-16 mt-16"><img src="/image/Page/Optimal.png" alt="Оптимальные сроки поставки"></div>
                    <div class="text-center mt-5 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Оптимальные <br>сроки поставки</div>
                </div>
                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(66, 69, 100, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">04</div>
                    <div class="mx-auto w-16 mt-16"><img src="/image/Page/Sale.png" alt="Скидки для постоянных клиентов"></div>
                    <div class="text-center mt-5 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Скидки для <br> постоянных клиентов</div>
                </div>

                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(76, 78, 106, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">05</div>
                    <div class="mx-auto w-16 mt-16"><img src="/image/Page/Money.png" alt="Наличный и безналичный расчет"></div>
                    <div class="text-center mt-1 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Наличный <br> и безналичный расчет</div>
                </div>
                <div class="col-span-1  h-72 NameUsugi" style="background: rgba(66, 69, 100, 0.70); ">
                    <div class="relative left-12 top-12 text-2xl text-left w-24" style="color:#ff5e14;font-family:BebasNeueBold;">06</div>
                    <div class="mx-auto w-16 mt-16"><img src="/image/Page/Client.png" alt="Индивидуальный подход к клиенту"></div>
                    <div class="text-center mt-5 text-base lg:text-xl" style="font-family: OpenSansRegular;color:#fff;">Индивидуальный <br> подход к клиенту</div>
                </div>

            </div>
        </div>
    </div>
</div>