@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div id="kontact" class="header_h" style="background-color:#151a41;border-top:5px solid #ff5e14;">
    <div class="container mx-auto py-10 px-5 lg:px-0">
        <div class="grid gap-5 grid-cols-1 lg:grid-cols-8 w-full mt-16">
            <div class="col-span-1" >
              
              <div class="grid gap-5 grid-cols-3 lg:grid-cols-1 mx-10 lg:mx-0">
                <div class="col-span-1 " >   
                    <img class="float-right" src="/image/Logo.png" alt="Логотип ООО Карьер" title="Логотип ООО Карьер"  >
                </div>
                <div class="col-span-2" >
                    <div class="text-base xl:text-base leading-6 mt-0 lg:mt-7 xl:mt-8 px-10 lg:px-0" style="font-family:OpenSansLight;color: #b6b6b6;">
                       Доставка песка, щебня, бетона и других нерудных материалов
                   </div>
                 </div>
               </div>

            </div>
            <div class=" col-span-1 lg:col-span-2 pl-8" >
             <div class="grid gap-5 grid-cols-2 lg:grid-cols-1 ">
              <div class="col-span-1 text-xl xl:text-2xl " style="font-family:BebasNeueRegular;">
                <img class="inline" src="/image/Icon/phone.png" alt="Phone">
                
                  <span class="pl-4"><a class="text-white" href="tel:+79308495050">+7 (930) 849-50-50</a></span>
                
              </div>
              <div class="col-span-1 mt-0 lg:mt-12" style="font-family:OpenSansMedium;">
                <img class="inline" src="/image/Icon/email.png" alt="Email">
                 <span class="pl-4 inline"><a class="text-white" href="email:npk40@yandex.ru">npk40@yandex.ru</a></span>
              </div>
            </div>
            </div>
            <div class="col-span-1 lg:col-span-3 px-16 pt-10 lg:pt-0 lg:px-0" >
              
            
                <div class="grid gap-1 grid-cols-2 lg:grid-cols-3 w-full">
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot  " href="/about" >O КОМПАНИИ </a>
                  </div>
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot" href="/service/plot_filling" >УСЛУГИ </a>
                  </div>
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot" href="/cooperation" >СОТРУДНИЧЕСТВО</a>
                  </div>
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot" href="/catalog/sand" >КАТАЛОГ</a>
                  </div>
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot" href="/price" >ЦЕНЫ</a>
                  </div>
                  <div class="col-span-1" >
                    <a class="text-2xl menu_foot" href="/contacts" >КОНТАКТЫ</a>
                  </div>
              </div>
            
            <div class="hidden lg:inline-flex mt-3 lg:mt-20 mx-10 lg:mx-0">    
                <a href="https://vk.com/pgs40" > <img src="/image/Page/vk.png" alt="Мы в VK" title="Мы в VK"  ></a>
            </div>
           
            </div>
            <div class="col-span-1 lg:col-span-2 pt-16 lg:pt-8 pl-2">
              <a target="_blank" href="/doc/KP2022.pdf" class="text-xl border   px-8 py-6 lg:px-14 lg:py-6 gradBut" style="font-family:OpenSansMedium;">Отправить заявку</a> 
              <div class="text-sm pt-10">
              <span  style="font-family:OpenSansItalic; color:#a6a6a6;">Нажимая кнопку «Оставить заявку»,<br>
                Вы даёте согласие на обработку Ваших
                персональных данных,в соответсвии
                с <a target="_blank" href="/doc/sogl.pdf" style="color:#ff5e14 ;"> политикой конфиденциальности сайта</a>
              </span>
            </div>
            </div>
        </div>
    </div>
    <div class="text-base border-t " style="color: #767676; border-color:#767676">
      <div class="container mx-auto pt-5 ">
         <a style="font-family:OpenSansItalic;" target="_blank" href="/doc/sogl.pdf">@DateTime.Now.Year  ООО «НПК» Политика конфиденциальности</a>
      </div>
  </div>
</div>