@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .gradBut {
        background: #ff5e14; /* Для старых браузров */
        background: linear-gradient(-135deg, transparent 15px, #ff5e14 0);
        color: #ffefe8;
        border: 0;
    }

        .gradBut:hover {
            background: #fc5203; /* Для старых браузров */
            background: linear-gradient(-135deg, transparent 15px, #fc5203 0);
            color: #fff;
            border: 0;
        }

    .NameUsugi:hover {
        box-shadow: inset 8px 8px 20px -10px #ff5e14;
    }

    .linkPr {
        font-family: OpenSansMedium;
        color: #ff5e14;
    }

        .linkPr:hover {
            color: #fff;
        }



    #rectangle {
        width: 10px;
        height: 10px;
        background: #ff5e14;
    }
</style>
<div class="bg-no-repeat bg-center header_h mt-0 lg:mt-0" style="background-image: url('/Image/Page/topHeaderImg.webp');">
    <div id="header2" class="container mx-auto ">
        <div class="hidden lg:block">
            <div class="grid gap-5 grid-cols-1 lg:grid-cols-2 w-full ">
                <div class="col-span-1">
                    <div class="grid grid-cols-4 xl:grid-cols-4 gap-5 w-full mt-12">
                        <div class="col-span-2 xl:col-span-1">
                            <a href="/"><img src="/image/Logo.png" alt="Логотип ООО НПК" title="Логотип ООО НПК" class="max-w-6xl mx-auto"></a>
                        </div>
                        <div class="col-span-3">
                            <div class="text-sm leading-5 mt-3 w-52 hidden xl:block" style="font-family:OpenSansLight;color: #bbbdc7;">
                                Доставка песка, щебня, керамзита и других нерудных материалов
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-span-1">
                    <div class="grid gap-5 grid-cols-3 w-full mt-8 lg:mt-16 pt-2">
                        <div class="col-span-1">
                            <div class="text-lg xl:text-xl inline-block" style="font-family:OpenSansMedium;color: #bbbdc7;">
                                <img class="inline" src="/image/Icon/email.png" alt="Email">
                                <span class="pl-4 inline"><a href="email:npk40@yandex.ru">npk40@yandex.ru</a></span>
                            </div>

                        </div>
                        <div class="col-span-2">
                            <div class="text-xl xl:text-2xl inline-block" style="font-family:BebasNeueRegular;color: #bbbdc7;">
                                <img class="inline" src="/image/Icon/phone.png" alt="Phone">
                                <span class="pl-4 "><a href="tel:+79308495050">+7 (930) 849-50-50 </a></span>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        
            @await Html.PartialAsync("Nav")
        <div class="mt-16 text-3xl lg:text-5xl text-center ml-5" style="font-family:BebasNeueRegular;color:#a3a4b3;">тест</div>
    </div>
</div>
