@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>
    .Header3 {
        font-family: OpenSansBold;
        font-size: 15px;
        color: #ff5e14;
    }

    .Header1 {
        font-family: BebasNeueRegular;
        font-size: 55px;
        color: #434559;
    }

    .circle {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        color: #fff;
        line-height: 20px;
        text-align: center;
        background: #ff5e14;
        font-family: BebasNeueRegular;
        font-size: 25px;
        padding-top: 1em;
    }

    .circle1 {
        width: 17px;
        height: 17px;
        border-radius: 50%;
        line-height: 10px;
        text-align: center;
        background: #ff5e14;
        margin-top: 2em;
    }

    .circle2 {
        width: 7px;
        height: 7px;
        border-radius: 50%;
        text-align: center;
        background: #fff;
        position: relative;
        top: 0.3em;
        left: 0.3em;
    }
</style>
<div class="bg-white">
    <div class="container mx-auto ">
        <div class="text-center pt-24 lg:pt-48">
            <h3 class="Header3">Как мы работаем</h3>
            <h1 class="Header1 leading-tight mt-4">Всего 4 шага<br> до получения заказа</h1>
            <div class="grid gap-12 grid-cols-4 lg:grid-cols-11 w-4/6 lg:w-full  my-24 text-left mx-auto ">
                <div class="col-span-2 ">
                    <div class="circle">01</div>

                    <div class="text-lg mt-8" style="font-family: OpenSansSemiBold;">Оставляете заявку</div>
                    <p style="font-family: OpenSansRegular;">через <span style="color:#ff5e14;font-family: OpenSansSemiBold;">форму на сайте</span> <br> или по телефону</p>
                    <p class="text-2xl" style="color:#ff5e14;font-family:BebasNeueBold;">+7 (4842) 75 22 33 </p>

                </div>
                <div class="col-span-1 hidden lg:block">
                    <div class="circle1"><div class="circle2"></div></div>
                </div>
                <div class="col-span-2">
                    <div class="circle">02</div>
                    <div class="text-lg mt-8" style="font-family: OpenSansSemiBold;">С вами связывается<br> наш менеджер</div>
                    <p style="font-family: OpenSansRegular;">для уточнения <br> всех деталей</p>
                </div>
                <div class="col-span-1 hidden lg:block">
                    <div class="circle1"><div class="circle2"></div></div>
                </div>
                <div class="col-span-2 ">
                    <div class="circle">03</div>
                    <div class="text-base mt-8" style="font-family: OpenSansSemiBold;">Подготавливаем<br>груз и документы</div>
                    <p style="font-family: OpenSansRegular;">для отправки Вам <br>в ближайшее время</p>
                </div>
                <div class="col-span-1 hidden lg:block ">
                    <div class="circle1"><div class="circle2"></div></div>
                </div>
                <div class="col-span-2 ">
                    <div class="circle">04</div>
                    <div class="text-lg mt-8" style="font-family: OpenSansSemiBold;">Вам остается<br> только <br> получить груз!</div>
                </div>
            </div>
        </div>
    </div>
</div>    